.city-info {
    display: flex;
    flex-direction: column;
}

.city-image {
    width: 40vmin;
    height: 25vmin;
    border-radius: 10px;
}

.city-name {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.city-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: #555555;
}

.city-eaters i {
    color: #e67e22;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.city-chefs i {
    color: #e67e22;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.city-page i {
    color: #e67e22;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .city-image {
        width: 80vmin;
        height: 50vmin;
    }
}

