.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
}

.form-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.checkbox-group {
    display: flex;
    gap: 0.5rem;
}

.submit-btn {
    background-color: #e67e22;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    font-size: 1.25rem;
}

.submit-btn:hover {
    background-color: #d35400;
    cursor: pointer;
}

.input-box {
    font-size: 1.25rem;
    padding: 0.25rem;
    border: 1px solid #555555;
    outline: none;
    transition: color 0.3s ease;
}

.input-box:focus {
    border-color: #d35400;
}

